.body {
    background: url("../img/basketball/discription/bg1.png") center center/cover no-repeat;
    background-attachment: fixed
}
.categories .main .back .categories_back_near_else {
    color: #B78C83;
}
.modal_tour_item {
    background: url(../img/basketball/history/bg_date.png) center center/cover no-repeat;
}
nav{
    background-color: #140904;
}
nav ul li ul {
    background: #140904;
}
nav ul li a:hover {
    color: #B78C83;
}
.anons .nearest_categories {
    color: #B78C83;
}
.anons .nearest_btn_2 {
    background: #B78C83;
}	

.menu_link:hover {
    color: #B78C83;
}
.menu_sm_link:hover {
    color: #B78C83;
}
.phone:hover {
    color: #B78C83;
}
.btn {
    background: #B78C83;
}
.btn:hover {
    background: #745a55;
}
.categories .main .front .categories_front_near {
    color: #B78C83;
}
.categories .main .back .categories_back_near {
    color: #B78C83;
}
.slick-dots li.slick-active button {
    background: #B78C83;
}
.courts .carousel__inner__title:hover {
    color: #B78C83;
}
.orange {
    background: #B78C83;
}
.sing_title span {
    color: #B78C83;
}
.sing_tipe span {
    color: #B78C83;
}
.footer_phone a:hover {
    color: #B78C83;
}
.footer_logo a:hover {
    color: #B78C83;
}
.modal_name {
    color: #B78C83;
}
.modal_list_title {
    color: #B78C83;
}
.modal_tour_item:hover {
    color: #B78C83;
}
.modal_history .more_subtitle {
    color: #B78C83;
}
.modal_history a:hover {
    color: #B78C83;
}
.categories_sm .wrapper .item .main .front_item_near {
    color: #B78C83;
}
.categories_sm .wrapper .item .main .back_item_near {
    color: #B78C83;
}
.categories_sm .item_near {
    color: #B78C83;
}
.courts .carousel__inner__title:hover {
    color: #B78C83;
}

.orange {
    background: #B78C83;
}
.orange:hover {
    background: #866761;
}
  
.braun {
    background: #65504B;
}
.braun:hover {
    background: #372c29;}
  
.red {
    background: #433633;
}
.red:hover {
    background: #29211f;
}
.anons .nearest_btn_2 {
    background: #612E19;
}
.anons .nearest_btn_2:hover {
    background: #612E19;
}
.categories .main .back .categories_back_btn_2:hover {
    background: #612E19;
}
.categories_sm .wrapper .item .main .back_item_btn_2:hover {
    background: #612E19;
}
