.body {
    background: url("../img/hockey/discription/bg1.png") center center/cover no-repeat;
    background-attachment: fixed
}
.modal_tour_item {
    background: url(../img/hockey/history/bg_date.png) center center/cover no-repeat;
}
nav{
    background-color: #1a1a1a;
}
nav ul li ul {
    background: #1a1a1a;
}
nav ul li a:hover {
    color: #860000;
}
.categories .main .back .categories_back_near_else {
    color: #860000;
}
.anons .nearest_categories {
    color: #bd0000;
}
.promo .social_link:hover {
    color: #bd0000;
}
.btn {
    background: #bd0000;
}
.anons .nearest_btn_2 {
    background: #860000;
}	
.menu_link:hover {
    color: #bd0000;
}
.menu_sm_link:hover {
    color: #bd0000;
}
.phone:hover {
    color: #bd0000;
}
.categories .main .front .categories_front_near {
    color: #860000;
}
.categories .main .back .categories_back_near {
    color: #860000;
}
.slick-dots li.slick-active button {
    background: #860000;
}
.courts .carousel__inner__title:hover {
    color: #860000;
}
.orange {
    background: #860000;
}
.sing_title span {
    color: #860000;
}
.sing_tipe span {
    color: #860000;
}
.footer_phone a:hover {
    color: #860000;
}
.footer_logo a:hover {
    color: #860000;
}
.modal_name {
    color: #860000;
}
.modal_list_title {
    color: #860000;
}
.modal_tour_item:hover {
    color: #860000;
}
.modal_history .more_subtitle {
    color: #860000;
}
.modal_history a:hover {
    color: #860000;
}
.categories_sm .wrapper .item .main .front_item_near {
    color: #860000;
}
.categories_sm .wrapper .item .main .back_item_near {
    color: #860000;
}
.categories_sm .item_near {
    color: #860000;
}
.courts .carousel__inner__title:hover {
    color: #860000;
}

.orange {
    background: #370000;
}
.orange:hover {
    background: #240000;
}
  
.braun {
    background: #860000;
}
.braun:hover {
    background: #5a0000;}
  
.red {
    background: #bd0000;
}
.red:hover {
    background: #a80000;
}

.anons .nearest_btn_2:hover {
    background: #990000;
}
